exportPattern("^[[:alpha:]]+")

export("ssdeR")
export("fitted.ssdeR")
export("predict.ssdeR")
export("ssdeRbiprob.fit")
export("ssdeRgmm.fit")
export("numDeriv.gmm")
export("ssdeR.effects")


import( "maxLik" )
import("sandwich")
import("fBasics")
import("VGAM")

importFrom( "Formula", "as.Formula" )
importFrom( "miscTools", "coefTable" )
importFrom( "miscTools", "nObs" )
importFrom( "miscTools", "nParam" )
importFrom( "mvtnorm", "dmvnorm" )
importFrom( "mvtnorm", "pmvnorm" )
importFrom( "systemfit", "systemfit" )
importFrom( "utils", "tail" )
importFrom( "zoo", "is.zoo" )
