import("stats", "Formula", "optimx", "SpatialExtremes")
export(
  "gevreg",
  "gevreg_control",
  "gevreg_fit",
  "dgevr",
  "pgevr",
  "qgevr"
)

## methods for gevreg
S3method("coef", "gevreg")
#S3method("vcov", "gevreg")
S3method("logLik", "gevreg")
S3method("print", "gevreg")
S3method("predict", "gevreg")
S3method("terms", "gevreg")
S3method("model.frame","gevreg")
S3method("model.matrix","gevreg") 
S3method("residuals", "gevreg")






